
.calculator {
    padding: 10px;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #191b28;
}

.display-box {
    font-family: 'Roboto';
    background-color: white;
    border: solid black 0.5px;
    border-radius: 5px;
    width: 99%;
    height: 70%;
}

#btn {
    background-color: orange;
}

input[type=button] {
    font-family: 'Roboto';
    font-size: large;
    background-color:white;
    color: black;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
}

input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}